.draggable {
    cursor: move;
    user-select: none;
}

.dragging {
    opacity: 0.5;
}

.group {
    background: white;
    border-radius: 0.5rem;
    padding: 1rem;
    min-height: 200px;
}

.group.drag-over {
    background: #f0f9ff;
    border: 2px dashed #3b82f6;
}

/* Masonry Grid */
.masonry-grid {
    display: flex;
    /* margin-left: -8px;  */
    /* Compensate for item padding */
    width: auto;
}

.masonry-item {
    background-clip: padding-box;
}

/* Image Container */
.image-container {
    position: relative;
    transition: transform 0.2s ease;
    width: 80px;
    height: 80px;
    /* border-radius: 0.25rem; */
    border: 1px solid #f00;
    cursor: pointer;
}

.image-container:hover {
    transform: scale(2);
    z-index: 10;
}

.small-image {
    width: 50px;
    height: 50px;
    margin-bottom: 4px;
}

.image-container img {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    display: block;
}

.image-container .scene-id {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    line-height: 1em;
    padding: 2px;
}

.image-container .remove-btn {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s;
}

.image-container:hover .remove-btn {
    opacity: 1;
}

.image-container.dragging {
    cursor: move;
}

#drop-zone.drag-over {
    background: #f0f9ff;
    border-color: #3b82f6;
}

.group-content {
    display: flex;
    width: auto;
    margin-bottom: 1rem;
}

.group-content .image-container {
    background-clip: padding-box;
    margin-right: 8px;
} 